<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Baixar Youtube</title>
</head>
<body>
    <h1>
        Bem vindo
    </h1>
    
    <form action="{{ url_for("page_home")}}" method="post">
        <label for="link_video">Insira o link do vídeo: </label>
        <input type="text" id="link_video" name="l_video" placeholder="Link">
        <button type="submit">Login</button>
    </form>

</body>
</html>